.library-container {
    width: 100vw;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.note-item {
  background-color: var(--card-color);
  border: 1px solid var(--accent-color);
  padding: 15px;
  border-radius: var(--border-radius);
}

.note-item p {
  margin: 5px 0;
}

.note-item a {
  color: var(--secondary-color);
  text-decoration: none;
}

.note-item a:hover {
  text-decoration: underline;
}

.note-item button {
  background-color: var(--error-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 10px;
}

.note-item button:hover {
  background-color: #c82333;
}